@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

.todo {
  display: flex;
  height: 50px;
  padding: 0 20px;
  overflow: hidden;
  position: relative;
  border-bottom: solid 1px #919191;
  /* border-radius: 5px; */
  list-style: none;
  transition: background 0.5s;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: #ffffff;
}

.todo:before {
  content: '';
  width: 8px;
  height: 100%;
  background: #da4659;
  display: block;
  position: absolute;
  left: 0;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}
.todo_isCompleted {
  text-decoration: line-through; 
}

.todoBody {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.todoTitle {
  flex: 1;
}

#prioritySelector_low {
  visibility: hidden;
}

#prioritySelector_medium {
  visibility: hidden;
}

#prioritySelector_high {
  visibility: hidden;
}

.prioritySelectors {
  display: flex;
}

.prioritySelector {
  margin-right: 10px;
}

.prioritySelector:last-child {
  margin-right: 0;
}

.label {
  position: relative;
}

.label:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.label_low:before {
  background-color: green;
}

.label_medium:before {
  background-color: yellow;
}

.label_high:before {
  background-color: red;
}

.radio:checked + .label:before {
  border: solid 1px #919191;
}
